---
layout: default
title: 100x
---

<h2>One GenAI Product a Week</h2>

<p>
    I've been playing around with GenAI systems for almost half a decade now.
    In that time, I've built more than my fair share of tech demos using the ever evolving technology.
    However, my demos never explored the full product/feature lifecycle with GenAI.
    This project is my attempt to do just that.
</p>
<p>
    For the next 6 weeks, I'm going to build one product prototype a week using a different combination of GenAI systems.
    The goal of these prototypes is to better explore the capabilities of AI in the open.
    Where can it most effectively be deployed today?
    Where are the rough edges?
    Where can you cut yourself?
</p>

<p>
    For this project, I'll be looking at GenAI systems that are available to the public including LLMs, LVms, and Image Generation systems.
    Here's a short list of GenAI systems that I'm thinking about incorporating:
    <ul>
        <li>GPT-4</li>
        <li>GPT-4 Vision</li>
        <li>Mistral</li>
        <li>Llama</li>
        <li>DALL-E</li>
        <li>Stability AI</li>
    </ul>
</p>

<p>
    Each week, I'll post a short prototype specification on Monday.
    I'll then spend the week building the prototype.
    On Fridays, I'll share a link to the prototype and a writeup on the result of the build process.
    I've never built in the open before, at least not quite like this.
    So the process will be a bit of a learning experience for me as well.
    My hope is this is a useful exercise for myself and a few of you out there.
</p>

<p>
    Most of you got here via a social media post.
    If you have an idea for a prototype, toss a comment on the social media post, and I'll see if it fits into my format and schedule.
</p>

<h2>Prototypes</h2>

<p>
    Here's the list of prototypes that I have or will work on. I'll update this list as I go.
</p>

<div id="prototypes">
    {% for prototype in site.prototypes %}
        {% if prototype.published %}
            <div class="prototype">
                <h3>Prototype #{{forloop.index}}: {{ prototype.name }}</h3>
                <img src="{{ prototype.image_url }}" />
                <p>{{ prototype.description }}</p>
                <div class="prototype-dates">
                    <table>
                        <tr>
                            <th>Timeline</th>
                            <th>Deadline</th>
                            <th>Completed?</th>
                        </tr>
                        <tr>
                            <td>Specification</td>
                            <td>{{ prototype.specification_date }}</td>
                            <td>{% if prototype.specification %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Result</td>
                            <td>{{ prototype.result_date }}</td>
                            <td>{% if prototype.result %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    </table>
                </div>
                {% if prototype.specification %}
                <div class="prototype-btn-bar">
                    {% include button.html icon="spec" url=prototype.specification text="Specification" %}

                    {% if prototype.result %}
                        {% include button.html icon="result" url=prototype.result text="Results" %}
                    {% endif %}

                    {% if prototype.demo %}
                        {% include button.html icon="demo" url=prototype.demo text="Demo" %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <hr />
        {% endif %}
    {% endfor %}
</div>

<h2>Caveats</h2>

<p>
Due to the rapid iterative nature of this project, there are a few caveats that I want to call out.

    <ul>
        <li>These prototypes are scoped down to be achievable in a week.</li>
        <li>I'm not a designer. These builds are going to prioritize functionality over aesthetics.</li>
        <li>I'm using a webapp that I previously built to jumpstart all these projects. I'll share the details of that in a future post.</li>
        <li>Each of the prototypes will require some form of API key to cover the cost of the GenAI system. <strong>I DO NOT log those API keys.</strong> After the request to the GenAI system is complete, the API key no longer exists in my backend system. The key is stored in the frontend React application for as long as your browser window is open.</li>
    </ul>

If you have any questions, reach out to my via my contact information below.
</p>

<h2>Who is this guy?</h2>

<p>
    Hi, I'm Todd Cullen. I've been a fullstack developer and serial entrepreneur for the last 20 years.
    I've built software across a wide range of industries including healthcare, finance, education, gaming, real estate, and advertising.
    Over the last 5 years, I've been working in executive roles where coding was not my primary responsibility.
    And I've come to realize that I've missed building. I've missed it alot.
    I'm using this project to hone my skills and scratch my creative itch.
</p>
<p>
    <img src="/assets/images/todd-profile.jpg" alt="Todd Profile Photo" />
</p>
<p>Thanks for checking out the project!</p>

<h2>Get in Touch</h2>
<p>
Want to talk about GenAI, or perhaps you have a specific project and need feedback?
Get in touch. I'd love to hear from you.
</p>

<h3>Follow Me</h3>
<p>
Follow me on any of these platforms for updates:
    <ul>
        <li><a href="https://twitter.com/Shakakai">Shakakai on X/Twitter</a></li>
        <li><a href="https://github.com/Shakakai">Shakakai on Github</a></li>
    </ul>
</p>

<h3>Hire Me</h3>
<p>
    I'm available for contract work or full time positions (on the right project).
    Drop me a line at culltp1 at gmail dot com.
</p>