---
---

@import "{{ site.theme }}";

p:has(img) {
  text-align: center;
}

#main_content img {
  border: 8px solid #fff;
}

.prototype{
  width: 100%;
}

.prototype-btn-bar{
  float:left;
  height: 60px;
}

.prototype-btn-bar a{
  margin: 10px;
}

span.spec {
  background: transparent url(../images/spec-icon.png) 12px 50% no-repeat;
}

span.result {
  background: transparent url(../images/result-icon.png) 12px 50% no-repeat;
}