---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative clip">
        <img alt="{{ page.title }}" 
              class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" 
              src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 class="section-title">Recent Writing</h1>
      </div>
    </div>
    <div class="row justify-content-start">
      {% for post in site.posts limit:3 %}
      <div class="col-12 col-md-4 mb-1">
        <div class="post post-summary">
          <div class="post-content">
            <h2 class="post-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "blog" | relative_url }}">View All Posts</a>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 class="section-title">Consulting Services</h1>
        <p>
          Need help on a project? I offer a range of product and technical consulting services.
          Checkout my offerings and get in touch if you think I can help.
        </p>
      </div>
    </div>
    <div class="row justify-content-start">
      {% assign services = site.services | sort: "weight" %}
      {% for service in services %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View Consulting Services</a>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1 class="section-title">Past Clients</h1>
      </div>
    </div>
    <div class="row justify-content-start" style="padding-top:30px;">
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/Avaya_Logo.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/BlackRock_wordmark.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/IBM_logo.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/Google__G__logo.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/HBO_logo.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/Logo_Nortel_Networks.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/providence-health-services.svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/USA_Network_logo_(2016).svg %}
      </div>
      <div class="col-12 col-md-4 mb-1" style="height:150px; text-align:center; margin-top:20px;">
        {% include logos/Frog_Design_logo.svg %}
      </div>
    </div>
    <!--
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View Consulting Services</a>
      </div>
    </div>
    -->
  </div>
</div>
