---
layout: default
bodyClass: "page-team"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
      <div class="team team-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
       <img alt="{{ page.title }}"
            class="intro-image"
            src="{{ page.image | relative_url }}" />
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "about" | relative_url }}">Back to Team</a>
      </div>
    </div>
</div>
